<section class="add-song-section">
  <div class="song-details">
    <form #songForm="ngForm">
      <div>
        <label for="artist">Artist</label>
        <input
          type="text"
          name="artist"
          id="artist"
          #artist="ngModel"
          [(ngModel)]="artistValue"
          required
        />
        <div
          class="error-message"
          *ngIf="artist.invalid && (artist.dirty || artist.touched)"
        >
          Field required
        </div>
      </div>

      <div>
        <label for="song">Song Name</label>
        <input
          type="text"
          name="song"
          id="song"
          #song="ngModel"
          [(ngModel)]="songValue"
          required
        />
        <div
          class="error-message"
          *ngIf="song.invalid && (song.dirty || song.touched)"
        >
          Field required
        </div>
      </div>
      <div class="button">
        <button
          type="submit"
          class="add-button"
          (click)="addSong()"
          *ngIf="!isSongEdited"
          [disabled]="songForm.invalid"
        >
          Add song
        </button>
        <button
          type="button"
          class="save-button"
          *ngIf="isSongEdited"
          (click)="saveEditedSong()"
          [disabled]="songForm.invalid"
        >
          Save changes
        </button>
      </div>
    </form>
  </div>
</section>
